---
---
@font-face {
  font-family: 'Ac437_ATI_8x8';
  src: url('{{ "/assets/fonts/Ac437_ATI_8x8.ttf" | relative_url }}') format('truetype');
}

body {
  font-family: 'Ac437_ATI_8x8';
  line-height: 1.2;
  font-size: medium;
  margin: 0; 
  color: #333;
  image-rendering: pixelated; 
  
  
  background-image: url('/assets/img/background4.gif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  

  min-height: 100vh;
  position: relative; 
}

.top-left-img {
  position: absolute;
  top: 20px;
  left: 40px;
  width: 500px; 
  z-index: 3;
}

.top-center-img {
  position: absolute;
  top: 50px;
  left: 60%;
  transform: translateX(-50%);
  width: 400px;
  transform: rotate(5deg);
  z-index: 3; 
}

.lower-middle-container {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%; 
  height: 100%;
}

.bubbles-img {
  position: fixed; 
  bottom: 0%;
  left: 0%;
  width: 100%; 
  z-index: 1; 
}

.box-img {
  position: absolute;
  z-index: 3;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  width: 950px; 
  height: 650px; 
}

main {
  position: absolute;
  z-index: 3;
  bottom: 0%; 
  left: 50%;
  transform: translateX(-50%);
  width: 750px; 
  height: 677px; 
  padding: 2rem;
  box-sizing: border-box;
  

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffffff; 
}

