---
---
@font-face {
  font-family: 'Mx437_MBytePC230_EGA';
  src: url({{ '/assets/fonts/Web437_MBytePC230_EGA.woff' | relative_url }}) format('woff');
}

@font-face {
  font-family: 'Microstyle';
  src: url({{ '/assets/fonts/MICROSE.woff' | relative_url }}) format('woff');
}

body {
  font-family: 'Mx437_MBytePC230_EGA';
  line-height: 1.3;
  font-size: 20px;
  margin: 0; 
  color: #333;
  image-rendering: pixelated; 
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: grayscale;
  

  position: relative; 
  z-index: 0;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  
  
  background-image: url('{{ "/assets/img/Comp 2_1.gif" | relative_url }}');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.name-img {
    position: absolute;
    top: 11px;
    left: 15px;
    width: 242px;
    z-index: 3;
}

.digital-portfolio-img {
    position: absolute;
    top: 17px;
    right: 37%;
    width: 341px;
    transform: rotate(5deg);
    z-index: 3;
}

.lower-middle-container {
  position: relative;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  /* min-height: 75vh; */
}

main {
    width: 1060px;
    /* height: 640px; */
    /* padding: 2rem; */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff;
    z-index: 3;
}

.main-border {
    border-image: url('{{ "/assets/img/brd.png" | relative_url }}');
   border-image-repeat: stretch;
    border-image-slice: 30;
    border-width: 30px;
    border-style: solid;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  }
  
.main-nav {
    position: absolute;
    bottom: 12px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 4;
}

.main-nav ul {
    width: 944px;
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    gap: 60px;
    /* position: relative; */
    justify-content: center;
}

.main-nav a {
  font-family: 'Microstyle', sans-serif;
  color: white;
  text-decoration: none;
  font-size: 25px;
  /* padding: 5px 10px; */
  transition: color 0.3s;
}

.main-nav a:hover {
  color: #00ffff;
}


.header-border {
    width: 90%;
    max-width: 1200px;
    height: 150px;
    margin: 30px auto;
    position: relative;
    background-image: url('{{ "/assets/img/stars.gif" | relative_url }}');
    background-size: cover;
    background-position: center;
    border-style: solid; 
    border-width: 10px;
    border-image-source: url('{{ "/assets/img/brd.png" | relative_url }}');
    border-image-slice: 13;
    border-image-repeat: round;
}