<!doctype html>
<html>
  <head>
  <meta charset="utf-8">
    <title>{{ page.title | default: site.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}">
  </head>
<body>
  <div class="header-border">
  
        <nav class="main-nav">
      <ul>
        <li><a href="{{ '/' | relative_url }}">Home</a></li>
        <li><a href="{{ '/tracery.html' | relative_url }}">Tracery</a></li>
        <li><a href="{{ '/researchproject.html' | relative_url }}">Research Project</a></li>
        <li><a href="{{ '/distantreading.html' | relative_url }}">Distant Reading</a></li>
        <li><a href="{{ '/game.html' | relative_url }}">Game</a></li>
      </ul>
    </nav>
  </div>

</div>

    <div class="lower-middle-container">
      <main class="main-border">
        {{ content }}
      </main>
    </div>

  </body>
</html>