<!doctype html>
<html>
  <head>
  <meta charset="utf-8">
    <title>{{ page.title | default: site.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}">
  </head>
<body>
  <div class="header-border">
     <img src="{{ '/assets/img/digital portfolio text_export_New animation.gif' | relative_url }}" alt="Digital Portfolio" class="digital-portfolio-img">

        <nav class="main-nav">
      <ul>
        <li><a href="/Digital_Portfolio--Sarah_Walenciak/">Home</a></li>
        <li><a href="/Digital_Portfolio--Sarah_Walenciak/tracery.html">Tracery</a></li>
        <li><a href="/Digital_Portfolio--Sarah_Walenciak/researchproject.html">Research Project</a></li>
        <li><a href="/Digital_Portfolio--Sarah_Walenciak/distantreading.html">Distant Reading</a></li>
        <li><a href="/Digital_Portfolio--Sarah_Walenciak/game.html">Game</a></li>
      </ul>
    </nav>
  </div>

</div>

    <div class="lower-middle-container">
      <main class="main-border">
        {{ content }}
      </main>
    </div>

  </body>
</html>